:root {
	--input-focus-border-color: Highlight;
	--input-focus-outline: 2px solid Canvas;
	--input-unfocused-border-color: transparent;
	--input-disabled-border-color: transparent;
	--input-hover-border-color: black;
}

body {
	--radius-s: 4px;
	--radius-m: 4px;
	--radius-l: 4px;
	--input-radius: 4px;
	--tab-radius-active: 4px;
	--checkbox-radius: 4px;
	--toggle-radius: 100px;
	--toggle-thumb-radius: 100px;
	--slider-thumb-radius: 100px;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
}

.theme-dark {
	--bg0: #222222;
	--bg1: #292929;
	--bg2: #323232;
	--bg3: #363636;

	--fg0: #8c8c8c;
	--fg1: #aaaaaa;
	--fg2: #dcdcdc;
	--fg3: #ffffff;
	
	--color-red: #f05d6b;
	--color-yellow: #eac56f;
	--color-green: #93cb6b;
	--color-cyan: #53d2e0;
	--color-blue: #61b8ff;
	--color-bluel: #85c6ff;
	--color-purple: #cd61ec;
	--color-pink: #f46faf;

  --background-primary: var(--bg0);
  --background-primary-alt: var(--bg1);
  --background-secondary: var(--bg1);
  --background-secondary-alt: var(--bg2);

	--text-normal: var(--fg1);
	--text-accent: var(--fg2);
	--text-on-accent: var(--fg2);
	--text-on-accent-inverted: var(--fg2);
	--text-selection: #444444;

	--icon-color: var(--text-normal);
	--icon-color-hover: var(--text-accent);
	--icon-color-active: var(--text-accent);
	--icon-color-focused: var(--text-accent);

	--link-color: var(--color-blue);
	--link-color-hover: var(--color-bluel);
	--link-unresolved-color: var(--color-blue);
	--link-unresolved-color-hover: var(--color-bluel);
	--link-external-color: var(--color-blue);
	--link-external-color-hover: var(--color-bluel);

	--scrollbar-bg: #00000000;
	--scrollbar-thumb-bg: #646464b3;
	--scrollbar-active-thumb-bg: #bfbfbf66;

	--nav-background-color-hover: var(--bg2);

	--divider-color: var(--bg3);
	--indentation-guide-color: var(--bg3);

	--titlebar-background: var(--background-secondary);
	--titlebar-background-focused: var(--background-secondary);
	--titlebar-text-color: var(--text-normal);
	--titlebar-text-color-focused: var(--text-normal);

	--ribbon-background: var(--background-secondary);

	--status-bar-background: var(--background-secondary);
	--status-bar-text-color: var(--text-normal);
}

