:root {
	/* DiscordRecolor settings */
	--font: "gg sans", "Noto Sans";
	--settingsicons: 0;  /* Use Settings Icons in User Settings: 1 = yes, 0 = no */

	--accentcolor:  88, 101, 242;	  /* Blurple				  -  default:	88, 101, 242	 -  hex:	#5865f2 */
	--accentcolor2: 255, 115, 250;   /* Boostpink			  -	default:	255, 115, 250  -  hex:	#ff73fa */
	--linkcolor: 	 0, 176, 244;	   /* Link Color			 -  default:	0, 176, 244		-  hex:	#00b0f4 */
	--mentioncolor: 250, 166, 26;	  /* Highlight Color  -  default:	250, 166, 26	 -  hex:	#faa61a */
	--successcolor: 59, 165, 92;		 /* Success Color		-  default:	59, 165, 92		-  hex:	#3ba55c */
	--warningcolor: 250, 166, 26;	  /* Warning Color		-  default:	250, 166, 26   -  hex:	#faa61a */
	--dangercolor:  237, 66, 69;		 /* Danger Color		 -  default:	237, 66, 69		-  hex:	#ed4245 */

	--textbrightest: 255, 255, 255;	/* Text Color 1		 -  default:	255, 255, 255	-  hex:	#ffffff */
	--textbrighter:  220, 220, 220;	/* Text Color 2		 -  default:	220, 221, 222	-  hex:	#dcddde */
	--textbright: 	 185, 185, 185;	/* Text Color 3		 -  default:	185, 187, 190	-  hex:	#b9bbbe */
	--textdark: 		 170, 170, 170;	/* Text Color 4		 -  default:	142, 146, 151	-  hex:	#8e9297 */
	--textdarker: 	 140, 140, 140;	/* Text Color 5		 -  default:	114, 118, 125	-  hex:	#72767d */
	--textdarkest:	 140, 140, 140;  /* Text Color 6		 -  default:	79, 84, 92		 -  hex:	#4f545c */

	--backgroundcode: 			  34, 34, 34;  /* Background Code		  -	default:	60, 62, 79	-	hex:	#3c3e4f */
	--backgroundaccent:  		 50, 50, 50;  /* Background Accent	  -  default:  64, 68, 75  -  hex:	#40444b */
	--backgroundprimary:  	  41, 41, 41;	/* Background 1		     -  default:  54, 57, 63	-  hex:	#36393f */
	--backgroundsecondary:    34, 34, 34;	/* Background 2		     -  default:	47, 49, 54	-  hex:	#2f3136 */
	--backgroundsecondaryalt: 34, 34, 34;	/* Background 3		     -  default:	41, 43, 47	-  hex:	#292b2f */
	--backgroundtertiary: 		34, 34, 34;	/* Background 4		     -  default:	32, 34, 37	-  hex:	#202225 */
	--backgroundfloating: 		0, 0, 0;		 /* Background Elevated  -  default:	24, 25, 28	-  hex:	#18191c */

	/* Unshittify-Discord settings */
	--top-bar-padding: 85px;
	--icon-scale: 1.1;

	/* Other overrides */
	--button-secondary-background: rgb(var(--backgroundaccent)) !important;
  --button-secondary-background-hover: rgb(var(--backgroundaccent)) !important;
  --background-modifier-selected: rgb(var(--backgroundaccent)) !important;
  --border-subtle: rgba(60, 60, 60, 1) !important;
}

.visual-refresh {
  /* Make the spoiler box a little lighter */
  #app-mount .spoilerContent__54ab5.hidden__54ab5 {
    background-color: rgb(var(--backgroundaccent)) !important;
  }
  /* Inspired by: https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css */
  /* Move typing indicator above textbox */
  .chatContent_f75fb0 {
    .scrollerSpacer__36d07 {
      /* Height of typing indicator */
      height: 25px;
    }
    .form_f75fb0 {
      display: flex;
      flex-direction: column;
      padding: 0px 4px 4px 4px !important;
      /* Chat bar */
      .channelTextArea_f75fb0 {
        margin: 2px 4px 4px 0px;
        .inner__74017 {
          min-height: 58px;
        }
        /* Remove gift, sticker, and app button, and reverse button order */
        .buttons__74017 {
          flex-direction: row-reverse;
          button[aria-label="Send a gift"],
          .expression-picker-chat-input-button:has(div[class*="stickerButton"]),
          div[class^="channelAppLauncher_"] {
            display: none !important;
          }
        }
      }
      /* Slowmode bar + Typing indicator */
      .base_b88801 {
        order: -1;
        .typing_b88801,
        .typingDots_b88801 {
          /* Initials to remove Unshittify-Discord UI changes */
          background-color: initial;
          height: initial;
          transform: translateY(2px);
        }
        .cooldownText_b21699 {
          background-color: initial;
          height: initial;
          padding-right: 4px;
          transform: translateY(1px);
        }
      }
      /* Don't touch my corners >:( */
      /* 8px to remove Unshittify-Discord UI changes */
      &:has(.typing_b88801 .typingDots_b88801) .channelTextArea_f75fb0 {
        border-top-left-radius: 8px !important;
      }
      &:has(.typing_b88801 .cooldownWrapper_b21699) .channelTextArea_f75fb0 {
        border-top-right-radius: 8px !important;
      }
    }
    /* If typing indicator, then shrink scrollerSpacer__36d07 to reduce jumping */
    &:has(.typing_b88801 .cooldownWrapper_b21699) .scrollerSpacer__36d07,
    &:has(.typing_b88801 .typingDots_b88801) .scrollerSpacer__36d07 {
      height: 0px !important;
    }
  }

  /* Remove the added height and hide new message bars from blocked user messages */
  /* This won't stop discord from highlighting the channel though */
  .groupStart__5126c:has(+ .scrollerSpacer__36d07) {
    display: none !important;
  }
  .isUnread__908e2:has(+ .groupStart__5126c) {
    display: none !important;
  }
}

