/* TODO
Consolidate what we can. Things that use the same set of animations or effects can be merged down:
Bordered buttons (reactions, roles, etc)
Unborded buttons (Account widget, call phone button, etc)

Fix emoji text effect so it shows on hover and not focus
Use the partial transparency hover effects for audit log, safety setup, etc as a default "button" type
Event popup share and interested buttons
Channel and roles search box
Channel and roles colors

Server admin members under events fix search bar color

Vencord card hover colors are funky. Set vencord stuff to last priority since it's different from all of Discords design
*/

/*
Honestly with the amount of stuff that needs to be modified to fix BDRecolor and Discord stuff, I might just make my own recolor wrapper
*/

.visual-refresh {
  /* === Client Front === */
  /* Friends */
  .peopleColumn__133bf {
    .inner_a45028 {
      background-color: rgb(var(--backgroundprimary)) !important;
    }
    .peopleListItem_cc6179 {
      transition: background-color .2s ease-in-out;
      &:hover {
        background-color: rgb(var(--backgroundprimary));
      }
      .actionButton_f8fa06 {
        background-color: rgb(var(--backgroundsecondary));
        transition: background-color .2s ease-in-out;
        &:hover {
          background-color: rgb(var(--backgroundaccent));
        }
      }
    }
  }
  /* Active Now */
  .nowPlayingColumn__133bf .itemCard__7e549 {
    /* Fix colors and add effects */
    background-color: rgba(var(--backgroundaccent), 0.7);
    border: 1px solid var(--border-subtle);
    transition: background-color .2s ease-in-out;
    &:hover {
      background-color: rgba(var(--backgroundaccent), 1) !important;
    }
  }
  /* Top bar */
  .container_f37cb1,
  .subtitleContainer_f75fb0 {
    box-shadow: var(--elevation-low) !important;
    z-index: 2;
  }
  .animatedContainer_f37cb1 {
    box-shadow: var(--elevation-low) !important;
  }
  .trailing_c38106 {
    /* Fix inbox/help margins from Unshittify-Discord */
    /* Color to match bg */
    background-color: rgb(var(--backgroundsecondary));
    top: calc(var(--space-xs) + 1px);
  }
  .searchBar__97492 .icon__97492 {
    /* Fix search bar magnifying glass centering */
    height: 26px;
    width: 26px;
  }
  /* Server banner */
  .sidebarListRounded_c48ade {
    /* Fix server banner top left radius from Unshittify-Discord */
    border-top-left-radius: unset;
  }
  /* Follow updates bar */
  .chatContent_f75fb0 .wrapper__44df5 {
    /* Fix margins to match text input */
    height: 24px;
    margin: 2px 4px 4px 0px;
  }
  /* Account widget */
  .container__37e49
    .avatarWrapper__37e49 {
      /* Add button effects */
      background-color: rgb(var(--backgroundprimary));
      border: 1px solid transparent;
      transition: background-color .2s ease-in-out, border-color .2s ease;
      &:hover {
        background-color: rgba(var(--backgroundaccent), 1);
        border-color: var(--border-subtle)
      }
      &[aria-expanded=true] {
        background-color: rgba(var(--backgroundaccent), 1);
        border-color: var(--brand-500) !important;
      }
    }
    .button__67645 {
      /* Add button effects */
      background-color: rgb(var(--backgroundprimary)) !important;
      border: 0px solid var(--border-subtle) !important;
      transition: background-color .2s ease-in-out, border-color .2s ease;
      &:hover {
        background-color: rgba(var(--backgroundaccent), 1) !important;
        border: 1px solid var(--border-subtle) !important;
      }
    }
  }
  /* Account popup */
  .outer_c0bea0 {
    /* Align account popup with account widget */
    bottom: 8px !important;
    left: -8px !important;
    .outer_c0bea0 .overlay_c0bea0 {
      /* Fix internal colors */
      background-color: rgb(var(--backgroundaccent));
    }
  }
  /* User popup */
  .outer_c0bea0 {
    .activityContainer__84832 {
      .card__39ec2 {
        background-color: rgba(var(--backgroundaccent), 0.7);
        border: 1px solid var(--border-subtle) !important;
        transition: background-color .2s ease-in-out, border-color .2s ease;
        &:hover {
          background-color: rgba(var(--backgroundaccent), 1);
        }
      }
      .button__201d5 {
        background-color: rgba(var(--backgroundaccent), 0.7);
        border: 1px solid var(--border-subtle) !important;
        transition: background-color .2s ease-in-out, border-color .2s ease;
        &:hover {
          background-color: rgba(var(--backgroundaccent), 1);
        }
      }
    }
    .expandButton_fccfdf,
    .button__7d7f7,
    .role_dfa8b6 {
      /* Add effects to role buttons */
      background-color: rgba(var(--backgroundaccent), 0.7);
      border: 1px solid var(--border-subtle) !important;
      transition: background-color .2s ease-in-out;
      &:hover {
        background-color: rgba(var(--backgroundaccent), 1);
      }
      &[aria-expanded=true] {
        background-color: rgba(var(--backgroundaccent), 1);
        border-color: var(--brand-500) !important;
      }
    }
    .channelTextArea__74017 {
      /* Fix user profile note bg and hover colors */
      background-color: rgb(var(--backgroundsecondary)) !important;
      border: 1px solid var(--border-subtle) !important;
      transition: border-color .2s ease;
      &:hover {
        border: 1px solid var(--input-border-default); !important;
      }
      &:focus-within {
        border: 1px solid var(--brand-400) !important;
      }
    }
  }
  /* User profile */
  .root__9c3be {
    .profileNote__9c3be .textarea__9daae {
      /* Fix user profile note bg and hover colors */
      background-color: rgb(var(--backgroundsecondary)) !important;
      border: 0px solid var(--border-subtle) !important;
      transition: border-color .2s ease;
      &:hover {
        border: 1px solid var(--input-border-default); !important;
      }
      &:focus-within {
        border: 1px solid var(--brand-400) !important;
      }
    }
    .card__39ec2 {
      /* Fix activity card colors and add hover effects */
      background-color: rgba(var(--backgroundaccent), 0.7);
      border: 1px solid var(--border-subtle) !important;
      transition: background-color .2s ease-in-out, border-color .2s ease;
      &:hover {
        background-color: rgba(var(--backgroundaccent), 1);
      }
    }
  }
  /* Emoji popup */
  .popoutContainer__0f481,
  .popoutContainer__0f481 {
    /* Fix emoji popup bg color */
    background-color: color-mix(in oklab, rgb(var(--backgroundprimary)), transparent 10%);
    .guildSection_d5cd2d {
      background-color: rgb(var(--backgroundaccent));
    }
  }
  /* Events popup */
  .card__88264 {
    background-color: rgba(var(--backgroundaccent), 0.7);
    border-color: var(--border-subtle);
    transition: background-color .2s ease-in-out;
    &:hover {
      background-color: rgba(var(--backgroundaccent), 1);
    }
  }
  /* Channels & Roles popup */
  .prompt__5d7c9 .optionButtonWrapper__270d7 {
    background-color: rgba(var(--backgroundaccent), 0.7);
    border-color: var(--border-subtle);
    transition: background-color .2s ease-in-out;
    &:hover {
      background-color: rgba(var(--backgroundaccent), 1);
    }
    &.selected__270d7 {
      background-color: rgba(var(--backgroundaccent), 1);
      border-color: var(--brand-400);
    }
  }
  /* Reactions */
  .reactionBtn__23977,
  .reaction__23977 {
    /* Change reaction button effects to be more consistent */
    background-color: rgba(var(--backgroundaccent), 0.7);
    border: 1px solid var(--border-subtle) !important;
    transition: background-color .2s ease-in-out, border-color .2s ease;
    &:hover {
      background-color: rgba(var(--backgroundaccent), 1);
    }
    &.reactionMe__23977,
    &.active__23977 {
      border-color: var(--brand-500) !important;
    }
  }
  /* === Client Settings === */
  /* Vencord */
  .vc-settings-quickActions-pill {
    background-color: rgb(var(--backgroundprimary));
    color: rgb(var(--textbrighter));
  }
  .vc-settings-theme-links {
    color: var(--text-default) !important;
  }
  .vc-addon-card {
    background-color: rgb(var(--backgroundaccent));
    color: rgb(var(--backgroundaccent));
  }
  /* Bio text input */
  .bioTextAreaContainer__6a919 {
    /* Change profile bio input effects to be more consistent */
    border: 1px solid var(--border-subtle);
    transition: border-color .2s ease-in-out;
    &:hover {
      border-color: var(--input-border-default);
    }
    &:focus-within {
      border-color: var(--brand-500) !important;
    }
    .bioTextArea__6a919 {
      background-color: rgb(var(--backgroundsecondary));
      border-radius: var(--radius-sm);
    }
  }
  /* Family Center */
  .contentPanel_dc2e0e .box_f8c98c {
    /* Fix bg color */
    background-color: rgb(var(--backgroundaccent));
  }
  /* Authorized Apps */
  .authedAppV2__50a54 {
    /* Fix colors */
    border: 1px solid var(--border-subtle);
    .headerV2__50a54 {
      background-color: rgb(var(--backgroundaccent));
    }
  }
  /* Connections */
  .connectionsContainer_c7f964 {
    /* Fix colors and lower gap so it doesn't overflow to next row */
    gap: 7px;
    .wrapper__02fc8,
    .accountAddWrapper_c7f964 {
        background-color: rgba(var(--backgroundaccent), 1);
        border: 1px solid var(--border-subtle) !important;
        border-radius: var(--radius-sm);
    }
  }
  .connection_c7f964 {
    /* Fix colors */
    border: 1px solid var(--border-subtle);
    .connectionHeader_c7f964 {
      background-color: rgb(var(--backgroundaccent));
    }
  }
  .connectedAccountContainer_e6abe8 {
    background-color: rgba(var(--backgroundaccent), 0.7);
  }
  /* Gift Inventory */
  .codeRedemptionInput__3514e {
    /* Fix colors */
    background-color: rgb(var(--backgroundprimary)) !important;
    .inputError__0f084 {
      background-color: rgb(var(--backgroundprimary));
    }
    .error__0f084 {
      border-color: var(--text-danger) !important;
    }
  }
  /* Keybinds */
  .recorderContainer__2636e {
    /* Fix colors and add effects */
    background-color: rgb(var(--backgroundsecondary)) !important;
    border: 1px solid var(--border-subtle) !important;
    transition: border-color .2s ease-in-out;
    &:hover {
      border: 1px solid var(--input-border-default); !important;
    }
  }
  /* Registered Games */
  .notDetected_cc46f0,
  .activeGame_cc46f0 {
    /* Add radius to game detection */
    border-radius: var(--radius-sm);
  }
  /* === Server settings === */
  /* Profile Traits */
  .traitContainer__4cbea {
    /* Change trait effects to be more consistent */
    animation: unset;
    transition: border-color .2s ease-in-out;
    &:hover {
      border-color: var(--input-border-default);
    }
    &:focus-within {
      border-color: var(--brand-400) !important;
    }
    .emojiWrapper__4cbea,
    .input__0f084.traitInput__4cbea {
      border: none;
    }
  }
  /* Emoji */
  .outer__4f074 {
    /* Change emoji text effects to be more consistent */
    .input__4f074 {
      outline: 1px solid transparent;
      transition: background-color .2s ease-in-out, outline-color .2s ease-in-out;
      &:hover {
        background-color: rgb(var(--backgroundsecondary));
        outline-color: var(--input-border-default);
      }
      &:focus {
        background-color: rgb(var(--backgroundsecondary)) !important;
        outline-color: var(--brand-500) !important;
      }
    }
  }
  /* Stickers */
  .wrapper__83b1d {
    /* Change sticker effects to be more consistent */
    border: 1px solid transparent;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    &:hover {
      background-color: rgb(var(--backgroundaccent));
      border-color: var(--border-subtle);
    }
  }
  /* Members */
  .searchHeader__98d1c .container_a45028 .inner_a45028 {
    /* Fix search bg color */
    background-color: rgb(var(--backgroundprimary));
  }
  .actionCell__71c22 .button__71c22:hover {
    /* Fix button hover color */
    background-color: rgb(var(--backgroundaccent));
  }
  /* Roles */
  .container_d8f25b {
    /* Fix color */
    background-color: rgb(var(--backgroundaccent));
  }
  .memberRow__9a73f,
  .roleRow__5f97b {
    /* Change role effects to be more consistent */
    border: 1px solid transparent;
    border-radius: var(--radius-sm);
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    &:hover {
      background-color: rgb(var(--backgroundaccent));
      border: 1px solid var(--border-subtle);
    }
  }
  /* Invites */
  #app-mount .inviteSettingsInviteRow__1de14.card_b846e5 {
    /* Change invite effects to be more consistent */
    &:before {
      background-color: rgb(var(--backgroundprimary));
      border: 1px solid var(--border-subtle);
      border-radius: var(--radius-sm);
      transition: background-color .2s ease-in-out, opacity .2s ease;
    }
    &:hover:before {
      background-color: rgb(var(--backgroundaccent)) !important;
    }
  }
  /* Access */
  .joinOptions__959cb {
    /* Fix option bg colors */
    background-color: rgb(var(--backgroundsecondary));
  }
  .joinOptionContent__959cb.active__959cb {
    /* Fix option bg colors */
    background-color: rgb(var(--backgroundprimary));
  }
  /* Safety Setup */
  .clickableContainer__6cd3a {
    /* Fix colors */
    background-color: rgb(var(--backgroundaccent));
  }
  .backgroundModifierContainer__6cd3a {
    /* Fix colors */
    background-color: rgb(var(--backgroundaccent));
    &:hover:not(.disabled__6cd3a):not(.noAction__6cd3a) {
      background-color: rgb(var(--backgroundaccent));
    }
  }
  /* Integrations/Webhooks */
  /* WIP */
  /* Audit Log */
  .auditLog__43dab {
    /* Fix colors and make these more consistent */
    background-color: rgb(var(--backgroundaccent)) !important;
    border: 1px solid var(--border-subtle) !important;
    .headerClickable__43dab {
      background-color: rgb(var(--backgroundaccent)) !important;
    }
    .headerExpanded__43dab {
      background-color: rgb(var(--backgroundprimary)) !important;
    }
    .divider__43dab {
      background-color: rgb(var(--backgroundaccent)) !important;
    }
    .changeDetails__43dab {
      background-color: rgb(var(--backgroundaccent)) !important;
    }
  }
  /* Bans */
  .container_cdb2b0 .scrollerContainer_cdb2b0 {
    /* Fix color */
    background-color: rgb(var(--backgroundaccent));
  }
  /* AutoMod */
  .editCard_a25a68 {
    /* Fix color */
    background-color: rgb(var(--backgroundaccent));
  }
  .editCard_a25a68.contentExpandContainer_a25a68 {
    /* Fix borders */
    border-radius: var(--radius-sm);
  }
  .container_fea832 .input_fea832 {
    /* Fix colors */
    border-color: var(--brand-500) !important;
  }
  /* Boost award cards */
  /* Change card style to be more consistent */
  .tierHeader_f15dca {
    background-color: rgb(var(--backgroundaccent)) !important;
  }
  .tier_f15dca {
    background-color: rgb(var(--backgroundsecondary));
  }
  .tierHeaderWithoutCardBody_f15dca {
    border-radius: 8px 8px 0px 0px;
  }
  /* === Channel settings === */
  /* Permissions */
  .contentColumn__23e6b .card_b651ff {
    /* Fix colors */
    background-color: rgb(var(--backgroundaccent));
  }
  /* === General === */
  /* Search boxes */
  .searchBar__97492,
  .container_fea832,
  .container_a45028 {
    /* Change search boxes to be more consistent */
    border: 1px solid var(--border-subtle);
    transition: border-color .2s ease-in-out;
    &:hover {
      border-color: var(--input-border-default) !important;
    }
    &:focus-within {
      border-color: var(--brand-500) !important;
    }
    .inner_fea832,
    .inner_a45028 {
      background-color: rgb(var(--backgroundsecondary));
    }
  }
  /* Text input */
  /* Change text boxes to be more consistent */
  .inputWrapper__0f084 {
    background-color: rgb(var(--backgroundsecondary));
    border-radius: var(--radius-sm);
    &:hover {
      border-color: var(--input-border-default);
    }
  }
  .inputDefault__0f084 {
    background-color: rgb(var(--backgroundsecondary));
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    &:hover {
      border-color: var(--input-border-default);
    }
    &.textArea__7aff3 {
      background-color: rgb(var(--backgroundsecondary));
      margin-bottom: -3px;
    }
  }
  .input__4f074,
  .input__0f084 {
    transition: border-color .2s ease-in-out;
    &:focus {
      border-color: var(--brand-500) !important;
    }
  }
  /* Select menus */
  /* Change menu selections to be more consistent */
  .select__3f413 {
    background-color: rgb(var(--backgroundsecondary));
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    transition: border-color .2s ease-in-out;
    &.open__3f413 {
      border-color: var(--brand-500) !important;
    }
    &:hover {
      border-color: var(--input-border-default);
    }
  }
  .popout__3f413 {
    background-color: rgb(var(--backgroundsecondary));
  }
  .option__3f413 {
    &[aria-selected=true] {
      background-color: rgb(var(--backgroundaccent));
    }
    .focused__3f413 {
      background-color: unset;
      &:hover {
        background-color: var(--background-modifier-hover);
        color: var(--interactive-active)
      }
    }
  }
  /* Cards */
  .cardPrimary__73069 {
    /* Fix color */
    background-color: rgb(var(--backgroundaccent)) !important;
  }
  #app-mount .card_b846e5 {
    /* Change cards effects to be more consistent */
    &:before {
      background-color: rgb(var(--backgroundprimary));
      border: 1px solid var(--border-subtle);
      border-radius: var(--radius-sm);
      transition: background-color .2s ease-in-out, opacity .2s ease;
    }
    &:hover:before {
      background-color: rgb(var(--backgroundaccent)) !important;
    }
  }
  /* Buttons */
  .button__67645 {
    background-color: rgb(var(--backgroundprimary));
    border: 1px solid transparent;
    transition: background-color .2s ease-in-out, border-color .2s ease;
    &:hover {
      background-color: rgba(var(--backgroundaccent), 1);
      border-color: var(--border-subtle)
    }
  }
  /* Radio bars */
  .item__001a7[aria-checked=true] .radioBar__001a7 {
    /* Fix default purple bar radio icon */
    .refreshIconStroke__001a7 {
      fill: #fff;
    }
    .refreshIcon__001a7 {
      fill: var(--radio-bar-accent-color, var(--redesign-input-control-selected));
    }
  }
  /* Steppers */
  .stepper_ed9c90 {
    /* Change steppers to be more consistent */
    .iconWrapper__96f95 {
      background-color: rgb(var(--backgroundsecondary));
    }
    .inputWrapper__0f084 .inputDefault__0f084 {
      border-color: transparent;
    }
  }
}

