:root {
	/* DiscordRecolor settings */
	--font: "gg sans", "Noto Sans";
	--settingsicons: 0;  /* Use Settings Icons in User Settings: 1 = yes, 0 = no */

	--accentcolor:  88, 101, 242;	  /* Blurple				  -  default:	88, 101, 242	 -  hex:	#5865f2 */
	--accentcolor2: 255, 115, 250;   /* Boostpink			  -	default:	255, 115, 250  -  hex:	#ff73fa */
	--linkcolor: 	 0, 176, 244;	   /* Link Color			 -  default:	0, 176, 244		-  hex:	#00b0f4 */
	--mentioncolor: 250, 166, 26;	  /* Highlight Color  -  default:	250, 166, 26	 -  hex:	#faa61a */
	--successcolor: 59, 165, 92;		 /* Success Color		-  default:	59, 165, 92		-  hex:	#3ba55c */
	--warningcolor: 250, 166, 26;	  /* Warning Color		-  default:	250, 166, 26   -  hex:	#faa61a */
	--dangercolor:  237, 66, 69;		 /* Danger Color		 -  default:	237, 66, 69		-  hex:	#ed4245 */

	--textbrightest: 255, 255, 255;	/* Text Color 1		 -  default:	255, 255, 255	-  hex:	#ffffff */
	--textbrighter:  220, 220, 220;	/* Text Color 2		 -  default:	220, 221, 222	-  hex:	#dcddde */
	--textbright: 	 185, 185, 185;	/* Text Color 3		 -  default:	185, 187, 190	-  hex:	#b9bbbe */
	--textdark: 		 170, 170, 170;	/* Text Color 4		 -  default:	142, 146, 151	-  hex:	#8e9297 */
	--textdarker: 	 140, 140, 140;	/* Text Color 5		 -  default:	114, 118, 125	-  hex:	#72767d */
	--textdarkest:	 140, 140, 140;  /* Text Color 6		 -  default:	79, 84, 92		 -  hex:	#4f545c */

	--backgroundcode: 			  34, 34, 34;  /* Background Code		  -	default:	60, 62, 79	-	hex:	#3c3e4f */
	--backgroundaccent:  		 50, 50, 50;  /* Background Accent	  -  default:  64, 68, 75  -  hex:	#40444b */
	--backgroundprimary:  	  41, 41, 41;	/* Background 1		     -  default:  54, 57, 63	-  hex:	#36393f */
	--backgroundsecondary:    34, 34, 34;	/* Background 2		     -  default:	47, 49, 54	-  hex:	#2f3136 */
	--backgroundsecondaryalt: 34, 34, 34;	/* Background 3		     -  default:	41, 43, 47	-  hex:	#292b2f */
	--backgroundtertiary: 		34, 34, 34;	/* Background 4		     -  default:	32, 34, 37	-  hex:	#202225 */
	--backgroundfloating: 		0, 0, 0;		 /* Background Elevated  -  default:	24, 25, 28	-  hex:	#18191c */

	/* Other overrides */
	--button-secondary-background: rgb(var(--backgroundaccent)) !important;
  --button-secondary-background-hover: rgb(var(--backgroundaccent)) !important;
  --background-modifier-selected: rgb(var(--backgroundaccent)) !important;
  --border-subtle: rgba(60, 60, 60, 1) !important;
}

.visual-refresh {
  /* Make spoiler boxes a little lighter */
  #app-mount .spoilerContent__54ab5.hidden__54ab5 {
    background-color: rgb(var(--backgroundaccent)) !important;
  }
  .chatContent_f75fb0 {
    .form_f75fb0 {
      display: flex;
      flex-direction: column;
      padding: 0px 4px 4px 4px !important;
      /* Chat bar */
      .channelTextArea_f75fb0 {
        margin: 0px 4px 4px 0px;
        /* Remove gift, sticker, and app button, and reverse button order */
        .buttons__74017 {
          flex-direction: row-reverse;
          div[aria-label="Send a gift"],
          .expression-picker-chat-input-button:has(div[class*="stickerButton"]),
          div[class^="channelAppLauncher_"] {
            display: none !important;
          }
        }
      }
    }
  }
  /* Reduce height of scroller spacer to reduce unnecessary space */
  .scrollerSpacer__36d07 {
    height: 38px !important;
  }
  /* Slight typing indicator repositioning */
  .typing_b88801 {
    padding-left: 8px !important;
    .text_b88801 {
      margin-left: 8px !important;
    }
  }

  /* Attempt to hide blocked users as much as possible (When paired with noBlockedMessages from Vencord) */
  /* This gets most obvious things, but won't get channel highlights, reply names, or reactions */

  /* Remove added height */
  .groupStart__5126c {
    /* Above the chat box */
    &:has(+ .scrollerSpacer__36d07),
    /* Above new message bars */
    &:has(+ .divider__908e2) {
      display: none !important;
    }
  }
  /* Hide the new message divider bar */
  .divider__908e2:has(+ .groupStart__5126c) {
    display: none !important;
  }
  /* Hide the top new message jump-to bar */
  .newMessagesBar__0f481 {
    /* Message is exactly before scroller spacer */
    &:has(+ .scroller__36d07 .groupStart__5126c + .scrollerSpacer__36d07),
    /* Message is exactly between new message bar and scroller spacer */
    &:has(+ .scroller__36d07 .divider__908e2 + .groupStart__5126c + .scrollerSpacer__36d07) {
      display: none !important;
    }
  }

  /* Remove window management buttons */
  .winButtons_c38106 {
    display: none;
  }

  /* Everything past this point is from Unshittify-Discord */
  /* https://github.com/MaiRiosIPla/unshittify-discord */
  /* Discord CSS updates broke the theming in there and it hasn't been updated in months */

  /* User account widget */
  .panels__5e434 {
    right: var(--space-xs) !important;
    left: auto;
    bottom: var(--space-xs);
    width: calc(100% - var(--space-xs) * 2 - var(--custom-guild-list-width));
    z-index: 200 !important;
  }
  /* Top bar */
  .base__5e434 {
    grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [end];
    .sidebarListRounded__5e434,
    .sidebarList__5e434 {
      border-top: 0px;
      border-start-start-radius: 0px;
      .bannerVisible_f37cb1 .header_f37cb1 {
        border-top: 0px;
      }
    }
    .chat_f75fb0 {
      border-top: 0px;
    }
  }
  .trailing_c38106 {
    gap: 2px;
    width: max-content;
    z-index: 2000 !important;
    position: absolute;
    background-color: var(--background-tertiary);
    border-radius: var(--radius-sm);
    top: 6px;
    right: var(--space-xs);
    left: unset;
    padding: 0;
    overflow: hidden;
  }
  .bar_c38106::before {
    content: "";
    position: fixed;
    top:0;
    right:0;
    left: var(--custom-guild-sidebar-width);
    height: 10px;
    width: 200%;
    z-index: -1 !important;
  }
  .bar_c38106 {
    margin-left: var(--custom-guild-sidebar-width);
    height: 15px;
    min-height: unset !important;
  }
  .title__85643,
  .title_c38106 {
    display: none !important;
  }
  /* Search bar */
  .container__9293f {
    padding-right: 85px !important;
    overflow: hidden !important;
  }
  .search__49676 > div {
    display: flex !important;
    flex-shrink: 1 !important;
  }
  .searchBar__97492 {
    width: auto !important;
    min-width: 100px !important;
  }
  /* Server bar */
  .tree_ef3116 {
    margin-top: 1rem;
  }
  .itemsContainer_ef3116, .tree_ef3116 {
    height: calc(100%);
  }
  .wrapper_ef3116 {
    margin-bottom: 0;
  }
}

